#navigation{
    height: 40px;
    width: 100%;
    margin-bottom: 40px;
}
#navigation li{
    float: left;
    width:100px;
    height: 40px;
    border-bottom: 2px solid blue;
    list-style: none;
    margin-right: 50px;
    text-align: center;
    line-height: 40px;
}
#navigation li a{
    text-decoration: none;
}
.head
{
    clear: both;
    width:800px;
    height:200px;
    border-bottom:1px dashed #000;
}